@model NOUR.PFE.WEB.Models.RequestViewModel
@{
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";

}

<div class="container p-2">
    <div class="row pt-5">
        <div class="col-6">
            <h1 style="margin-left:10px">Reservations List</h1>
        </div>
        <div class="col-6">
            <a asp-controller="Request" asp-action="Create" class="btn btn-primary" style="margin-left:340px">
                <i class="fas fa-plus"></i> &nbsp; Make a reservation
            </a>
        </div>
    </div>
</div>

<div class="card">

    <!-- /.card-header -->
    <div class="card-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>User's Login</th>
                    <th>Vehicle's Type</th>
                    <th>Mission's Date</th>
                    <th>Mission's Address</th>
                    <th>Status</th>

                    @*mch kemlin ki tezel details yatl3oulk details lkol*@
                </tr>
            </thead>
            <tbody>
                @foreach (var request in Model.Requests)
                {
                    <tr>
                        <td>@request.User.Login</td>
                        <td>@request.VehiculeType.TypeName</td>
                        <td>@request.MissionDate</td>
                        <td>@request.MissionAddress</td>
                        <td>
                            @{
                                switch (request.status.Id)
                                {
                                    case 1:
                                        <span class="badge badge-success">@request.status.Name</span>
                                        break;
                                    case 2:
                                        <span class="badge badge-warning">@request.status.Name</span>
                                        break;
                                    case 3:
                                        <span class="badge badge-danger">@request.status.Name</span>
                                        break;
                                }
                            }
                        </td>

                        <td>
                            @{
                                switch (request.status.Id)
                                {
                                    case 1:
                                        <a href="@Url.Action("Details", "Request", new { id = request.Id })" class="btn btn-info" style="margin-left:90px">
                                            <i class="fa fa-info-circle"></i>
                                        </a>
                                        break;

                                    case 2:
                                        <a href="@Url.Action("Affect", "Request", new { id = request.Id })" class="btn btn-success" style="">
                                            <i class="fa fa-check"></i>  Affect
                                        </a>

                                        <a href="@Url.Action("Refuse", "Request", new { id = request.Id })" class="btn btn-danger" style="">
                                            <i class="fa fa-trash"></i>  Reject
                                        </a>

                                        <a href="@Url.Action("Details", "Request", new { id = request.Id })" class="btn btn-info">
                                            <i class="fa fa-info-circle"></i>
                                        </a>
                                        break;
                                    case 3:
                                        <a href="@Url.Action("Details", "Request", new { id = request.Id })" class="btn btn-info" style="margin-left:90px">
                                            <i class="fa fa-info-circle"></i>
                                        </a>
                                        break;

                                }
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@* <style>
    h1 {
        margin-bottom: 50px;
        margin-left: 90px;
    }

    .card {
        width: 800px;
        margin-left: 175px;
    }

    .table {
        width: 750px;
    }
</style> *@
