@model NOUR.PFE.WEB.Models.MaintenanceTypeViewModel
@{
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}

    <div class="header">
        <div class="row ">
            <div class="col-12">
                <h1>Maintenance Types List</h1>
            </div>
            <div class="col-12">
                <a style="margin-left:400px" asp-controller="MaintenanceType" asp-action="Create" class="btn btn-primary">
                    <i class="fas fa-plus"></i> &nbsp; Add Maintenance Type
                </a>
            </div>
        </div>

    </div>

    <div class="card box-shadow">
        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var maintenanceType in Model.MaintenanceTypes)
                    {
                        <tr>
                            <td>@maintenanceType.Id</td>
                            <td>@maintenanceType.Name</td>

                            <td class="buttons">
                                <!-- Edit Button -->
                                <a href="@Url.Action("Edit", "MaintenanceType", new { id = maintenanceType.Id })" class="btn btn-primary" style="margin-left:20px; margin-right:20px" >
                                    <i class="fa fa-edit"></i>
                                </a>

                                <!-- Delete Button -->
                            <a href="@Url.Action("Delete", "MaintenanceType", new { id = maintenanceType.Id })" class="btn btn-danger" style="margin-right:20px">
                                    <i class="fa fa-trash"></i>
                                </a>

                                <!-- Details Button -->
                                <a href="@Url.Action("Details", "MaintenanceType", new { id = maintenanceType.Id })" class="btn btn-info">
                                    <i class="fa fa-info-circle" ></i>

                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <style>
        .header{
            padding-top:20px;
            margin-bottom:50px;
            margin-left: 200px;
            width:700px;
        }
        .card{
            width:600px;
            margin-left:200px;
        }
    </style>


