@model NOUR.PFE.WEB.Models.DashboardViewModel
@{
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}

<h1 style="margin-left:20px; padding-top:20px">Dashboard</h1>
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row" style="margin-top:40px; margin-bottom:20px">
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>@Model.Users_count</h3>

                        <p>User registrations</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-users"></i>
                    </div>
                    <a asp-controller="User" asp-action="Index" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-success">
                    <div class="inner">
                        <h3>@Model.Maintenance_count</h3>

                        <p>Vehicle under maintenance</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-tools"></i>
                    </div>
                    <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>

            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-warning">
                    <div class="inner">
                        <h3>@Model.Vehicule_count</h3>

                        <p>Vehicle's number</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-car"></i>
                    </div>
                    <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-danger">
                    <div class="inner">
                        <h3>@Model.Reservations_count</h3>

                        <p>Reservation requests</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-calendar-plus"></i>
                    </div>
                    <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>

            <!-- /.card-body -->
        </div>
        <div class="row">
            <div class="card card-outline card-success " style="margin-right:50px;margin-left:20px;width:500px">

                <div class="card-header success">
                    <h3 class="card-title">Vehicles Statistics</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>
                <!-- /.card-header -->
                <!-- /.card-body -->
                <div class="card-footer p-0">
                    <ul class="nav nav-pills flex-column">
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                Available Vehicles
                                @if ((((decimal)Model.VehiculeAvailable / (Model.Vehicule_count)) * 100) < 50)
                                {
                                    <span class="float-right text-danger">
                                        @if ((((decimal)Model.VehiculeAvailable / (Model.Vehicule_count)) * 100) < 50)
                                        {
                                            <i class="fas fa-arrow-down text-sm"></i>
                                        }
                                        else if ((((decimal)Model.VehiculeAvailable / (Model.Vehicule_count)) * 100) > 50)
                                        {
                                            <i class="fas fa-arrow-up text-sm"></i>
                                        }
                                        else
                                        {
                                            <i class="fas fa-arrow-left text-sm"></i>
                                        }
                                        @((int)Math.Round((decimal)Model.VehiculeAvailable / (Model.Vehicule_count) * 100))
                                        <span>%</span>
                                    </span>
                                }
                                else if ((((decimal)Model.VehiculeAvailable / (Model.Vehicule_count)) * 100) < 50)
                                {
                                    <span class="float-right text-danger">
                                        @if ((((decimal)Model.VehiculeAvailable / (Model.Vehicule_count)) * 100) < 50)
                                        {
                                            <i class="fas fa-arrow-down text-sm"></i>
                                        }
                                        else if ((((decimal)Model.VehiculeAvailable / (Model.Vehicule_count)) * 100) > 50)
                                        {
                                            <i class="fas fa-arrow-up text-sm"></i>
                                        }
                                        else
                                        {
                                            <i class="fas fa-arrow-left text-sm"></i>
                                        }
                                        @((int)Math.Round((decimal)Model.VehiculeAvailable / (Model.Vehicule_count) * 100))
                                        <span>%</span>
                                    </span>

                                } else
                                {
                                    <span class="float-right text-warning">
                                        @if ((((decimal)Model.VehiculeAvailable / (Model.Vehicule_count)) * 100) < 50)
                                        {
                                            <i class="fas fa-arrow-down text-sm"></i>
                                        }
                                        else if ((((decimal)Model.VehiculeAvailable / (Model.Vehicule_count)) * 100) > 50)
                                        {
                                            <i class="fas fa-arrow-up text-sm"></i>
                                        }
                                        else
                                        {
                                            <i class="fas fa-arrow-left text-sm"></i>
                                        }
                                        @((int)Math.Round((decimal)Model.VehiculeAvailable / (Model.Vehicule_count) * 100))
                                        <span>%</span>
                                    </span>
                                    
                                }
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                Reserved Vehicles
                                @if ((((decimal)Model.VehiculeReserved / (Model.Vehicule_count)) * 100) < 50)
                                {
                                    <span class="float-right text-danger">
                                        @if ((((decimal)Model.VehiculeReserved / (Model.Vehicule_count)) * 100) < 50)
                                        {
                                            <i class="fas fa-arrow-down text-sm"></i>
                                        }
                                        else if ((((decimal)Model.VehiculeReserved / (Model.Vehicule_count)) * 100) > 50)
                                        {
                                            <i class="fas fa-arrow-up text-sm"></i>
                                        }
                                        else
                                        {
                                            <i class="fas fa-arrow-left text-sm"></i>
                                        }

                                        @((int)Math.Round((decimal)Model.VehiculeReserved / (Model.Vehicule_count) * 100))
                                        <span>%</span>
                                    </span>
                                }
                                else if ((((decimal)Model.VehiculeReserved / (Model.Vehicule_count)) * 100) > 50)
                                {
                                    <span class="float-right text-success">
                                        @if ((((decimal)Model.VehiculeReserved / (Model.Vehicule_count)) * 100) < 50)
                                        {
                                            <i class="fas fa-arrow-down text-sm"></i>
                                        }
                                        else if ((((decimal)Model.VehiculeReserved / (Model.Vehicule_count)) * 100) > 50)
                                        {
                                            <i class="fas fa-arrow-up text-sm"></i>
                                        }
                                        else
                                        {
                                            <i class="fas fa-arrow-left text-sm"></i>
                                        }

                                        @((int)Math.Round((decimal)Model.VehiculeReserved / (Model.Vehicule_count) * 100))
                                        <span>%</span>
                                    </span>
                                }
                                else
                                {
                                    <span class="float-right text-warning">
                                        @if ((((decimal)Model.VehiculeReserved / (Model.Vehicule_count)) * 100) < 50)
                                        {
                                            <i class="fas fa-arrow-down text-sm"></i>
                                        }
                                        else if ((((decimal)Model.VehiculeReserved / (Model.Vehicule_count)) * 100) > 50)
                                        {
                                            <i class="fas fa-arrow-up text-sm"></i>
                                        }
                                        else
                                        {
                                            <i class="fas fa-arrow-left text-sm"></i>
                                        }

                                        @((int)Math.Round((decimal)Model.VehiculeReserved / (Model.Vehicule_count) * 100))
                                        <span>%</span>
                                    </span>
                                    
                                }
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                Unavailable Vehicles
                                @if ((((decimal)Model.VehiculeUnavailable / (Model.Vehicule_count)) * 100) < 50)
                                {
                                    <span class="float-right text-danger">
                                        @if ((((decimal)Model.VehiculeUnavailable / (Model.Vehicule_count)) * 100) < 50)
                                        {
                                            <i class="fas fa-arrow-down text-sm"></i>
                                        }
                                        else if ((((decimal)Model.VehiculeUnavailable / (Model.Vehicule_count)) * 100) > 50)
                                        {
                                            <i class="fas fa-arrow-up text-sm"></i>
                                        }
                                        else
                                        {
                                            <i class="fas fa-arrow-left text-sm"></i>
                                        }
                                        @((int)Math.Round((decimal)Model.VehiculeUnavailable / (Model.Vehicule_count) * 100))
                                        <span>%</span>
                                    </span>
                                }
                                else if ((((decimal)Model.VehiculeUnavailable / (Model.Vehicule_count)) * 100) < 50)
                                {
                                    <span class="float-right text-success">
                                        @if ((((decimal)Model.VehiculeUnavailable / (Model.Vehicule_count)) * 100) < 50)
                                        {
                                            <i class="fas fa-arrow-down text-sm"></i>
                                        }
                                        else if ((((decimal)Model.VehiculeUnavailable / (Model.Vehicule_count)) * 100) > 50)
                                        {
                                            <i class="fas fa-arrow-up text-sm"></i>
                                        }
                                        else
                                        {
                                            <i class="fas fa-arrow-left text-sm"></i>
                                        }

                                        @((int)Math.Round((decimal)Model.VehiculeUnavailable / (Model.Vehicule_count) * 100))
                                        <span>%</span>
                                    </span>

                                }
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- /.footer -->
            </div>

            @* Requests statistics *@
            <div class="card card-outline card-danger " style="width:500px">
                <div class="card-header">
                    <h3 class="card-title">Requests Statistics</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>

                <div class="card-footer p-0">
                    <ul class="nav nav-pills flex-column">
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                Accepted Requests
                                @if ((((decimal)Model.RequestAccepted / (Model.Reservations_count)) * 100) < 50)
                                {
                                    <span class="float-right text-danger">
                                        @if ((((decimal)Model.RequestAccepted / (Model.Reservations_count)) * 100) < 50)
                                        {
                                            <i class="fas fa-arrow-down text-sm text-danger"></i>
                                        }
                                        else if ((((decimal)Model.RequestAccepted / (Model.Reservations_count)) * 100) > 50)
                                        {
                                            <i class="fas fa-arrow-up text-sm"></i>
                                        }
                                        else
                                        {
                                            <i class="fas fa-arrow-left text-sm"></i>
                                        }
                                        @((int)Math.Round((decimal)Model.RequestAccepted / (Model.Reservations_count) * 100))
                                        <span>%</span>
                                    </span>

                                }
                                else if ((((decimal)Model.RequestAccepted / (Model.Reservations_count)) * 100) > 50)
                                {
                                    <span class="float-right text-success">
                                        @if ((((decimal)Model.RequestAccepted / (Model.Reservations_count)) * 100) < 50)
                                        {
                                            <i class="fas fa-arrow-down text-sm text-danger"></i>
                                        }
                                        else if ((((decimal)Model.RequestAccepted / (Model.Reservations_count)) * 100) > 50)
                                        {
                                            <i class="fas fa-arrow-up text-sm"></i>
                                        }
                                        else
                                        {
                                            <i class="fas fa-arrow-left text-sm"></i>
                                        }
                                        @((int)Math.Round((decimal)Model.RequestAccepted / (Model.Reservations_count) * 100))
                                        <span>%</span>
                                    </span>

                                }
                                else
                                {
                                    <span class="float-right text-warning">
                                        @if ((((decimal)Model.RequestAccepted / (Model.Reservations_count)) * 100) < 50)
                                        {
                                            <i class="fas fa-arrow-down text-sm text-danger"></i>
                                        }
                                        else if ((((decimal)Model.RequestAccepted / (Model.Reservations_count)) * 100) > 50)
                                        {
                                            <i class="fas fa-arrow-up text-sm"></i>
                                        }
                                        else
                                        {
                                            <i class="fas fa-arrow-left text-sm"></i>
                                        }
                                        @((int)Math.Round((decimal)Model.RequestAccepted / (Model.Reservations_count) * 100))
                                        <span>%</span>
                                    </span>
                                    
                                }
                               
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                Pending Requests
                                @if ((((decimal)Model.RequestPending / (Model.Reservations_count)) * 100) < 50)
                                {
                                    <span class="float-right text-danger">
                                        @if ((((decimal)Model.RequestPending / (Model.Reservations_count)) * 100) < 50)
                                        {
                                            <i class="fas fa-arrow-down text-sm"></i>
                                        }
                                        else if ((((decimal)Model.RequestPending / (Model.Reservations_count)) * 100) > 50)
                                        {
                                            <i class="fas fa-arrow-up text-sm"></i>
                                        }
                                        else
                                        {
                                            <i class="fas fa-arrow-left text-sm"></i>
                                        }

                                        @((int)Math.Round((decimal)Model.RequestPending / (Model.Reservations_count) * 100))
                                        <span>%</span>
                                    </span>
                                }
                                else if ((((decimal)Model.RequestPending / (Model.Reservations_count)) * 100) > 50)
                                {
                                    <span class="float-right text-success">
                                        @if ((((decimal)Model.RequestPending / (Model.Reservations_count)) * 100) < 50)
                                        {
                                            <i class="fas fa-arrow-down text-sm"></i>
                                        }
                                        else if ((((decimal)Model.RequestPending / (Model.Reservations_count)) * 100) > 50)
                                        {
                                            <i class="fas fa-arrow-up text-sm"></i>
                                        }
                                        else
                                        {
                                            <i class="fas fa-arrow-left text-sm"></i>
                                        }

                                        @((int)Math.Round((decimal)Model.RequestPending / (Model.Reservations_count) * 100))
                                        <span>%</span>
                                    </span>
                                }
                                else
                                {
                                    <span class="float-right text-warning">
                                        @if ((((decimal)Model.RequestPending / (Model.Reservations_count)) * 100) < 50)
                                        {
                                            <i class="fas fa-arrow-down text-sm"></i>
                                        }
                                        else if ((((decimal)Model.RequestPending / (Model.Reservations_count)) * 100) > 50)
                                        {
                                            <i class="fas fa-arrow-up text-sm"></i>
                                        }
                                        else
                                        {
                                            <i class="fas fa-arrow-left text-sm"></i>
                                        }

                                        @((int)Math.Round((decimal)Model.RequestPending / (Model.Reservations_count) * 100))
                                        <span>%</span>
                                    </span>
                                    
                                }


                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                Requests Rejected
                                @if ((((decimal)Model.RequestRejected / (Model.Reservations_count)) * 100) < 50)
                                {
                                    <span class="float-right text-danger">
                                        @if ((((decimal)Model.RequestRejected / (Model.Reservations_count)) * 100) < 50)
                                        {
                                            <i class="fas fa-arrow-down text-sm"></i>
                                        }
                                        else if ((((decimal)Model.RequestRejected / (Model.Reservations_count)) * 100) > 50)
                                        {
                                            <i class="fas fa-arrow-up text-sm"></i>
                                        }
                                        else
                                        {
                                            <i class="fas fa-arrow-left text-sm"></i>
                                        }
                                        @(((decimal)Model.RequestRejected / (Model.Reservations_count)) * 100)
                                        <span>%</span>
                                    </span>
                                }
                                else if ((((decimal)Model.RequestRejected / (Model.Reservations_count)) * 100) > 50)
                                {
                                    <span class="float-right text-success">
                                        @if ((((decimal)Model.RequestRejected / (Model.Reservations_count)) * 100) < 50)
                                        {
                                            <i class="fas fa-arrow-down text-sm"></i>
                                        }
                                        else if ((((decimal)Model.RequestRejected / (Model.Reservations_count)) * 100) > 50)
                                        {
                                            <i class="fas fa-arrow-up text-sm"></i>
                                        }
                                        else
                                        {
                                            <i class="fas fa-arrow-left text-sm"></i>
                                        }
                                        @(((decimal)Model.RequestRejected / (Model.Reservations_count)) * 100)
                                        <span>%</span>
                                    </span>

                                }

                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- /.card -->


</section>




