@model NOUR.PFE.WEB.Models.MaintenanceViewModel
@{
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="container p-2">
        <div class="row pt-5">
            <div class="col-6">
                <h1 style="margin-left:10px">Maintenances List</h1>
            </div>
            <div class="col-6">
                <a style="margin-left:350px" asp-controller="Maintenance" asp-action="Create" class="btn btn-primary">
                    <i class="fas fa-plus"></i> &nbsp; Add Maintenance
                </a>
            </div>
        </div>

    </div>

    <div class="card">
        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Maintenance Type</th>
                        <th>DateDebut</th>
                        <th>Address</th>
                        <th>Vehicule</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var maintenance in Model.Maintenances)
                    {
                        <tr>
                            <td>@maintenance.MaintenanceType.Name</td>
                            <td>@maintenance.DateDebut</td>
                            <td>@maintenance.Address</td>
                            <td>@maintenance.Vehicule.Imm</td>

                            <td>
                                <!-- Edit Button -->
                                <a href="@Url.Action("Edit", "Maintenance", new { id = maintenance.Id })" class="btn btn-primary" style="margin-right:20px">
                                    <i class="fa fa-edit"></i>
                                </a>

                                <!-- Delete Button -->
                                <a href="@Url.Action("Delete", "Maintenance", new { id = maintenance.Id })" class="btn btn-danger" style="margin-right:20px">
                                    <i class="fa fa-trash"></i>
                                </a>

                                <!-- Details Button -->
                                <a href="@Url.Action("Details", "Maintenance", new { id = maintenance.Id })" class="btn btn-info">
                                    <i class="fa fa-info-circle"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>


</body>
</html>
<style>
    h1 {
        margin-bottom: 50px;
        margin-left: 90px;
    }

</style>

</html>
