@model NOUR.PFE.WEB.Models.VehiculeViewModel

@{
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";

}
<section class="content-header">
    <div class="container-fluid">

        <div class="card  card-teal card-outline">

            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <strong><i class="fa fa-car"></i> Vehicle's Brand </strong>
                            <p class="text-muted">
                                @Html.DisplayFor(model => model.Vehicule.VehiculeBrand.Name)
                            </p>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <strong> Status:</strong>
                            @{
                                switch (@Model.Vehicule.Status.Status_id)
                                {
                                    case 1:
                                        <span class="badge badge-info">@Model.Vehicule.Status.Status_name</span>
                                        break;
                                    case 2:
                                        <span class="badge badge-success">@Model.Vehicule.Status.Status_name</span>
                                        break;
                                    case 3:
                                        <span class="badge badge-danger">@Model.Vehicule.Status.Status_name</span>
                                        break;
                                    case 4:
                                        <span class="badge badge-warning">@Model.Vehicule.Status.Status_name</span>
                                        break;

                                }
                            }
                        </div>
                    </div>

                </div>
                <hr />

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <strong><i class="fa fa-truck"></i> Vehicle's Type</strong>
                            <p class="text-muted">
                                @Html.DisplayFor(model => model.Vehicule.VehiculeType.TypeName)
                            </p>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <strong>Registration Number</strong>
                            <p class="text-muted">
                                @Html.DisplayFor(model => model.Vehicule.Imm)
                            </p>
                        </div>

                    </div>

                </div>
                <hr />

                <div class="row">

                    <div class="col-md-6">
                        <div class="form-group">
                            <strong><i class="fas fa-tachometer-alt"></i>  Mileage:</strong>
                            <p class="text-muted">
                                @Html.DisplayFor(model => model.Vehicule.Kilometrage)
                            </p>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <strong><i class="fa fa-calendar"></i>  Purshase Date:</strong>
                            <p class="text-muted"> @Html.DisplayFor(model => model.Vehicule.PurshaseDate)</p>
                        </div>
                    </div>


                </div>
                <hr />

                <div class="row">
                    <div class="col-md-12">
                        <a class="btn btn-default bg-teal   float-right" href='@Url.Action("Edit", "Vehicule", new { id = @Model.Id })'>
                            <i class="fas fa-user-edit"></i>
                            Edit
                        </a>
                        <a class="btn btn-warning  float-left" href='@Url.Action("Index", "Vehicule")'>
                            <i class="fas fa-arrow-left"></i>
                            Back
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .card {
        width: 700px;
        margin-left: 200px;
        margin-top: 30px;
        padding: 20px;
    }
</style>
