@model NOUR.PFE.WEB.Models.VehiculeViewModel
@{
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Vehicules</title>
</head>
<body>
    <div class="container p-2">
        <div class="row pt-5">
            <div class="col-6">
                <h1>Vehicles List</h1>
            </div>
            <div class="col-6">
                <a style="margin-left:200px" asp-controller="Vehicule" asp-action="Create" class="btn btn-primary">
                    <i class="fas fa-plus"></i> &nbsp; Add Vehicule
                </a>
            </div>
        </div>

    </div>

    <div class="card">
        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Reg Number</th>
                        <th>Type</th>
                        <th>Brand</th>
                        <th>kilometrage</th>
                        <th>Status</th>
                        <th>Purchase Date</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var Vehicule in Model.Vehicules)
                    {
                        <tr>
                            <td>@Vehicule.Imm</td>
                            <td>@Vehicule.VehiculeType.TypeName</td>
                            <td>@Vehicule.VehiculeBrand.Name</td>
                            <td>@Vehicule.Kilometrage</td>
                            <td>
                                @{
                                    switch (Vehicule.Status.Status_id)
                                    {
                                        case 1:
                                            <span class="badge badge-info">@Vehicule.Status.Status_name</span>
                                            break;
                                        case 2:
                                            <span class="badge badge-success">@Vehicule.Status.Status_name</span>
                                            break;
                                        case 3:
                                            <span class="badge badge-danger">@Vehicule.Status.Status_name</span>
                                            break;
                                        case 4:
                                            <span class="badge badge-warning">@Vehicule.Status.Status_name</span>
                                            break;
                                    }
                                }
                            </td>
                            <td>@Vehicule.PurshaseDate</td>
                            <td>
                                <!-- Edit Button -->
                                <a href="@Url.Action("Edit", "Vehicule", new { id = Vehicule.Id })" class="btn btn-primary" style="margin-left:10px;margin-right:10px">
                                    <i class="fa fa-edit"></i>

                                </a>

                                <!-- Delete Button -->
                                <a href="@Url.Action("Delete", "Vehicule", new { id = Vehicule.Id })" class="btn btn-danger" style="margin-right:10px">
                                    <i class="fa fa-trash"></i>


                                </a>

                                <!-- Details Button -->
                                <a href="@Url.Action("Details", "Vehicule", new { id = Vehicule.Id })" class="btn btn-info">
                                    <i class="fa fa-info-circle"></i>


                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>


</body>
</html>
<style>
    h1 {
        margin-bottom: 50px;
        margin-left: 90px;
    }

</style>
