
@{
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div class="container p-2">
        <div class="row pt-5">
            <div class="col-6">
                <h1>User Roles List</h1>
            </div>
            <div class="col-6">
                <a style="margin-left:400px" asp-controller="UserRole" asp-action="Create" class="btn btn-primary">
                    <i class="fas fa-plus"></i> &nbsp; Add Role
                </a>
            </div>
        </div>

    </div>

    
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">User Roles List</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Role Name</th>
                        <th>Role Code</th>
                    </tr>
                </thead>
                <tbody>
                     @foreach (var role in Model.UserRoles)
                    {
                    <tr>
                            <td>@role.Name</td>
                            <td>@role.Code</td>
                            <td>
                                <!-- Edit Button -->
                                <a href="@Url.Action("Edit", "UserRole", new { id = role.Id })" class="btn btn-primary" style="margin-left:100px;margin-right:20px">
                                    <i class="fas fa-user-edit"></i>
                                </a>

                                <!-- Delete Button -->
                                <a href="@Url.Action("Delete", "UserRole", new { id = role.Id })" class="btn btn-danger" style="margin-right:20px">
                                    <i class="fas fa-user-times"></i>

                                </a>

                                <!-- Details Button -->
                                <a href="@Url.Action("Details", "UserRole", new { id = role.Id })" class="btn btn-info">
                                    <i class="fas fa-user" style="margin-right:10px"> &nbsp; Details</i>

                                </a>
                            </td>
                    </tr>

                  
                    }
                </tbody>
            </table>
        </div>
    </div>
    <!-- /.card -->


</body>
</html>
<style>
    h1 {
        margin-bottom: 50px;
        margin-left: 90px;
    }
    .card{
        width:800px;
        margin-left: 175px;
    }

    .table {
        width : 750px;
    } 
   
</style>
