@model NOUR.PFE.WEB.Models.UserViewModel
@{
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}
@* <section class="content">
    <div class="container-fluid">

                <div class="card card-primary card-outline">
                    <div class="card-body box-profile">
                        <div class="text-center">
                             <img class="profile-user-img img-fluid img-circle"
                                 src="/uploads/@Model.ImageUrl"
                                 alt="User profile picture"> 
                        </div>

                        <h3 class="profile-username text-center">@Html.DisplayFor(model => model.FirstName)</h3>

                        <p class="text-muted text-center">@Html.DisplayFor(model => model.UserRole)</p>

                        <ul class="list-group list-group-unbordered mb-3">
                            <li class="list-group-item">
                                <b>Phone Number</b> <a class="float-right">@Html.DisplayFor(model => model.UserPhone)</a>
                            </li>
                            <li class="list-group-item">
                                <b>Email</b> <a class="float-right">@Html.DisplayFor(model => model.Email)</a>
                            </li>
                            <li class="list-group-item">
                                <b>Friends</b> <a class="float-right">13,287</a>
                            </li>
                        </ul>

                        <a href="#" class="btn btn-primary btn-block"><b>Follow</b></a>
                    </div>
                </div>
        </div>
</section>
<style>
    .card{
        width:500px;
        margin-top:100px;
        margin-left:270px;
    }
</style> *@
<section class="content-header">
    <div class="container-fluid">


        @*<div class="card card-default">*@

        <div class="card  card-teal card-outline">
            <div class="card-body box-profile">
                <div style="width:150px;">
                    <img class="profile-user-img img-fluid img-circle"
                    src="/img/hotix-log.png"
                    alt="User profile picture">

                </div> 
              <br />
                    <div class="form-group">
                    <strong><i class="fas fa-user-alt mr-1"></i>Full Name:</strong>
                        <h3 class="profile-username "> @Html.DisplayFor(model => model.User.FirstName)</h3>
                        <h3 class="profile-username "> @Html.DisplayFor(model => model.User.LastName)</h3>
                    </div>
                <p class="text-muted ">  @Html.DisplayFor(model => model.User.UserRole.Name)</p>

            </div>

            <!-- /.card-header -->
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <strong><i class="fas fa-phone-alt mr-1"></i>Télephone:</strong>
                            <p class="text-muted">
                                @Html.DisplayFor(model => model.User.UserPhone)
                            </p>
                        </div>

                    </div>
                    <!-- /.form-group -->
                    <div class="col-md-6">
                        <div class="form-group">
                            <strong><i class="fas fa-envelope mr-1"></i> Email:</strong>
                            <p class="text-muted"> @Html.DisplayFor(model => model.User.Email)</p>
                        </div>
                    </div>

                    <!-- /.form-group -->
                </div>
                <hr>
                <!-- /.col -->
                <div class="row">

                    <div class="col-md-6">
                        <div class="form-group">
                            <strong><i class="fas fa-user-alt mr-1"></i>  Login:</strong>
                            <p class="text-muted">

                                @Html.DisplayFor(model => model.User.Login)
                            </p>
                        </div>
                    </div>

                    <!-- /.form-group -->
                    <div class="col-md-6">
                        <div class="form-group">
                            <strong><i class="fas fa-key mr-1"></i> Mot De Passe:</strong>
                            <p class="text-muted"> @Html.DisplayFor(model => model.User.Password)</p>
                        </div>

                        <!-- /.form-group -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
                <hr>

                <div class="row">
                    @* <div class="col-12 col-sm-6">
                    <div class="form-group">
                    <strong><i class="fas fa-calendar-alt mr-1"></i> Date De Naissance:</strong>
                    @*<p class="text-muted"> @Html.DisplayFor(model => model.GetBirthDate("dd/MM/yyyy"))</p>
                    <p class="text-muted"> @Model.Birthday("dd/MM/yyyy")</p>
                    </div>
                    </div> *@
                    <!-- /.col -->
                    <div class="col-12 col-sm-6">
                        <div class="form-group">
                            <strong><i class="fas fa-calendar-alt mr-1"></i> Date De Creation:</strong>
                            @*<p class="text-muted"> @Html.DisplayFor(model => model.GetCreationDate("dd/MM/yyyy"))</p>*@
                            <p class="text-muted"> @Model.User.CreationDate.ToString("dd/MM/yyyy")</p>
                        </div>
                        <!-- /.form-group -->
                    </div>
                    <!-- /.col -->
                </div>
                <hr>
                <div class="row">
                    <div class="col-12">
                    </div>
                    <div class="col-12">
                        <a class="btn btn-default bg-teal   float-right" href='@Url.Action("Edit", "User", new { id = @Model.Id })'>
                            <i class="fas fa-user-edit"></i>
                            Modifier
                        </a>

                        <a class="btn btn-warning  float-left" href='@Url.Action("Index", "User")'>
                            <i class="fas fa-arrow-left"></i>
                            Retour
                        </a>


                    </div>
                </div>
                <!-- /.row -->
            </div>



        </div>



    </div>


</section>
<style>
    .card{
        width: 600px;
        margin-left:250px;
        margin-top:50px;
        padding:20px;
    }

  
</style>