
@{
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="container p-2">
        <div class="row pt-5">
            <div class="col-6">
                <h1>Vehicles Brands List</h1>
            </div>
            <div class="col-6">
                <a style="margin-left:400px" asp-controller="VehiculeBrand" asp-action="Create" class="btn btn-primary">
                    <i class="fas fa-plus"></i> &nbsp; Add Brand
                </a>
            </div>
        </div>
    </div>
       
    <div class="card">
         <div class="card-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Brand Name</th>
                        <th>Brand Logo</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var Brand in Model.VehiculeBrands)
                    {
                        <tr>
                            <td>@Brand.Name</td>
                            @{
                                if (@Brand.Logo.ToUpper().StartsWith(@"HTTP"))
                                {
                                    <td><img src="@Brand.Logo" width="60" height="60"></td>
                                }
                                else
                                {
                                    <td><img src="~/img/@Brand.Logo" width="60" height="60"></td>
                                }
                            }
                           
                            <td>
                                <!-- Edit Button -->
                                <a href="@Url.Action("Edit", "VehiculeBrand", new { id = Brand.Id })" class="btn btn-primary">
                                    <i class="fas fa-user-edit"></i>
                                </a>

                                <!-- Delete Button -->
                                <a href="@Url.Action("Delete", "VehiculeBrand", new { id = Brand.Id })" class="btn btn-danger">
                                    <i class="fas fa-user-times"></i>

                                </a>

                                <!-- Details Button -->
                                <a href="@Url.Action("Details", "VehiculeBrand", new { id = Brand.Id })" class="btn btn-info">
                                    <i class="fas fa-user"> &nbsp; Details</i>

                                </a>
                            </td>
                        </tr>

                    }
                </tbody>
            </table>
        </div>
    </div>
   
</body>
</html>
<style>
    h1 {
        margin-bottom: 50px;
        margin-left: 90px;
    }

    .card {
        width: 800px;
        margin-left: 175px;
    }

    .table {
        width: 750px;
    }
</style>


