 @model NOUR.PFE.WEB.Models.BrandViewModel
@{
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}


<body>
   
    <div class="header">
        <div class="row ">
            <div class="col-12">
                <h1>Vehicles Brands List</h1>
            </div>

            <div class="col-12">
                <a style="margin-left:400px" asp-controller="VehiculeBrand" asp-action="Create" class="btn btn-primary">
                    <i class="fas fa-plus"></i> &nbsp; Add Brand
                </a>
            </div>
        </div>
    </div>
       
    <div class="card">
         <div class="card-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Brand Name</th>
                        <th>Brand Logo</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var Brand in Model.VehiculeBrands)
                    {
                        <tr>
                            <td>@Brand.Name</td>
                            @{
                                if (@Brand.Logo.ToUpper().StartsWith(@"HTTP"))
                                {
                                    <td><img src="@Brand.Logo" width="60" height="60"></td>
                                }
                                else
                                {
                                    <td><img src="~/img/@Brand.Logo" width="60" height="60"></td>
                                }
                            }
                           
                            <td>
                                <!-- Edit Button -->
                                <a href="@Url.Action("Edit", "VehiculeBrand", new { id = Brand.Id })" class="btn btn-primary" style="margin-left:30px ;margin-right:20px">
                                    <i class="fa fa-edit"></i>
                                </a>

                                <!-- Delete Button -->
                                <a href="@Url.Action("Delete", "VehiculeBrand", new { id = Brand.Id })" class="btn btn-danger" style="margin-right:20px">
                                    <i class="fa fa-trash"></i>

                                </a>

                                <!-- Details Button -->
                                <a href="@Url.Action("Details", "VehiculeBrand", new { id = Brand.Id })" class="btn btn-info">
                                    <i class="fa fa-info-circle"></i>


                                </a>
                            </td>
                        </tr>

                    }
                </tbody>
            </table>
        </div>
    </div>
   
</body>
<style>
    h1 {
        margin-bottom: 50px;
        margin-left: 90px;
    }

    .header {
        padding-top: 20px;
        margin-bottom: 50px;
        margin-left: 100px;
       
    }

    .card {
        width: 630px;
        margin-left: 175px;
    }

    .table {
        width: 590px;
    }
</style>


